<ion-view title="Cerita Urban Legend" id="page4" class="login" >
<link rel="stylesheet" type="text/css" href="./css/style.css">
  <ion-content padding="true" class="has-header">
    <ion-list id="ceritaUrbanLegend-list3" ><div ng-repeat="title in titles">
      <ion-item class="item-thumbnail-left" id="ceritaUrbanLegend-list-item10" ui-sref="detail()" >
        <img src="">
        <h2 style="color: white">{{ title.name }}</h2>
      </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>