<ion-view title="Scaretory" id="page8" class="login">
<link rel="stylesheet" type="text/css" href="./css/style.css">
  <ion-content padding="true" class="bar-dark" ><body style="background-color: #333300;box-shadow:white" >
  <div style="background-color:darkgray"><pre>
    </pre></div>
    <div class="title"><h1>Terseram</h1><p>pilihan cerita terseram untukmu, berani?</p></div>
  <div class="row">
  <div  class="col" onclick=""><img src="img/keluarga.jpg"><p1><b> tak kasat mata</b> </p1><br>  <p2>tak terihat</p2></div>
  <div class="col" onclick=""><img src="img/kabut.jpg"><p1> Kabut</p1></div>
  <div class="col" onclick=""><img src="img/100tahun.jpg"><p1> tahun setelah aku mati</p1></div>
  </div>
  
  <div>
  <div class="title"><h1>Pilih kategory</h1><p>Pilih cerita kesukaan mu tapi jangan lupa tidur gaes</p></div>
  <div class="row" >
    <div class="col" ui-sref="tabsController.ceritaHorror()"><img src="img/Horror.jpg"><p1><b>Horror</b> </p1><br>  
      <p2>Siap membuat bulu kudukmu berdiri</p2></div>
    <div class="col" ui-sref="tabsController.ceritaRiddle()"><img src="img/Riddle.jpg"><p1>Riddle</p1>
    <p2>Cerita seram Penuh dengan teka teki yang akan membuat penasaran</p2> </div> 
    <div class="col" ui-sref="tabsController.ceritaUrbanLegend()" ><img src="img/Urban Legend.jpg"><p1> Urban</p1>
    <p2>Urban legend dari seluruh dunia</p2></div>
  </div>
  <div class="row">
    <div  class="col" ui-sref="tabsController.ceritaCreepy()"><img src="img/Creepy Pasta.jpg"><p1><b> Creepy Pasta</b> </p1><br>
        <p2>kumpulan cerita paling ngeri</p2></div>
    <div class="col" ui-sref="tabsController.ceritaSekolah()"><img src="img/Sekolah.jpg"><p1> Sekolah</p1>
    <p2>Cerita seram di sekolah dan kampus</p2></div>
    <div class="col" ui-sref="tabsController.ceritaThriller()"><img src="img/Thriller.jpg"><p1> Thriller</p1>
    <p2>cerita menegangkan dan penuh kengerian</p2></div>
  </div>
</div>

  <div class="title"><h1>Punya Cerita Seram?</h1>
    <p>Bagikan cerita seram mu ke pembaca Scaretory dan buat mereka menjerit ketakutan</p></div>
  <div class="kirim" style="margin:20px"> <h1 style="text-align: center">Kirim</h1></div>
    
    </ion-item>
      </body>
    </ion-list>
  </ion-content>
  </div>    
</ion-view>


