<ion-view title="Random Page" id="page5" class="login">
  <ion-content padding="true" class="has-header">
  <style type="text/css">
    .p{color: black}
  </style>
  <div style="margin: 0px; line-height: 10px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src="img/URBAN.jpg" style="padding-bottom: -100px" align="center" margin="auto" width="100%" height="auto" ></i>
    </div>
    <div>
     <h1 style="text-decoration: none;text-align: center;opacity: 0.6"> Evil Spirit Doesn't Die</h1>
      <p><pre>
Urban legend yang ini berasal dari Kanada, menceritakan tentang la Corriveau, seorang wanita cantik tapi kejam.

La Corriveau menikahi seorang pedagang kaya. Namun kemudian ia bosan dan membunuh suaminya dengan injakan kaki kuda. Kejadian itu dinyatakan sebagai kecelakaan dan la Corriveau pun bebas menikah lagi. Di pernikahan keduanya, la Corriveau hendak membunuh suaminya dengan kapak namun tertangkap.

La Corriveau dihukum mati. Mayatnya diletakkan dalam sebuah sangkar dan dipajang sebagai peringatan di pinggir sungai. Yang mengerikan, setiap malam jika ada pria lewat jalan itu, la Corriveau akan membuka matanya, lalu menjulurkan tangannya yang sudah membusuk.

Pemerintah yang ketakutan memutuskan mengubur mayatnya, namun la Corriveau tetap bangkit dari kubur setiap malam dan menghantui orang-orang yang lewat, muncul dengan menari di sepanjang pinggiran sungai.
</p>
      <a ui-sref="tabsController.ceritaHorror()" style="text-decoration: none; color: black">back</a>
    </div>  
  </ion-content>
</ion-view>